.main-text{
	padding-top: 200px;
	font-size: 64;
	-webkit-filter: blur(0);
  	-moz-filter: blur(0);
	-o-filter: blur(0);
	-ms-filter: blur(0);
    filter: blur(0);
}
.background-image1{
	background: url(https://images.unsplash.com/photo-1438368915865-a852ef86fc42?q=80&fm=jpg&w=1080&fit=max&s=39b6964575874a20aeab2059d3b5e2e4) 
	no-repeat;
	margin-bottom: 0px;
}
.background-image2{
	background: url(https://images.unsplash.com/photo-1438115234772-f94147ca89b7?q=80&fm=jpg&w=1080&fit=max&s=e6cf3b3b27a686920ca05beb64601917) no-repeat;
	width: 100%;
	margin-top: 0px;
}
.background-images{
	background-attachment: fixed;
	background-size: cover;
	padding-bottom: 500px;
}
.cool-looking-line{
	height: 3px;
	margin: 0 auto;
	background-color: #333333;
	border-bottom: 500px;
	border-radius: 2px;
}

.under-text{
	margin-top: 20px;
	font-size: 36;
	color: #393939;
}

.containing-div{
	width: 60%;
	margin: auto;
}

.btn{
	margin: 40px !important;
}

.social-buttons-row{
	width: 60%;
}